*{
    background-color: blue;
    margin: 0;
    padding: 0;
    border: 0;
}

canvas{
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: black;
    margin-top: 25px;
    margin-left: -250px;
    margin-bottom: 25px;
}
h1 {
    color: whitesmoke;
    background-color: blue;
}